//Fonts
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@font-face {
    font-family: 'MONDAY';
    src: url('../assets/fonts/MONDAY.ttf');
}
@font-face {
    font-family: 'Architects Daughter';
    src: url('../assets/fonts/ArchitectsDaughter.ttf');
}

//Screen widths
$mobile: 576px;
$tablet: 768px;
$desktop: 992px;

//Theme
$primary: #ffda00;
$secondary: #4ABDAC;
$warning: #ffda00;
$danger: #E4572E;
$success: #17BEBB;
$black: #1A2930;
$grey: #707070;
$info: #3F88C5;
$dark: #2E282A;
$light: white;
$font-header: 'Playfair Display', serif;
$font-slogan: 'Architects Daughter';
$font-happy: 'MONDAY';

$shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$enable-rounded: false;

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

body{
    background-color: white;
}

//Font size
h1 {
    color: $black;
    font-size: 26px;
    font-family: $font-header;
}
h2 {
    color: $dark;
    font-size: 18px;
    font-family: $font-header;
}
h3 {
    font-family: $font-slogan;
}
h4 {
    font-family: $font-happy;
}
p {
    font-size: 16px;
    color: $black; 
}

//Floating accent
@mixin accent {
    position: relative;

    &:before {
        content: "";
        position: absolute;
        height: 3px;
        background: $primary;
    }
    &:after {
        content: "";
        position: absolute;
        background: $primary;
    }
}

.accent-tl {
    @include accent;
    &:before {
        top:-10px;
        left: -20px;
        width: 200px;
        background: linear-gradient(90deg, rgba(255,218,0,1) 0%, rgba(255,218,0,1) 80%, rgba(255,255,255,0) 100%);
    }
    &:after {
        top:-20px;
        left: -10px;
        height: 200px;
        background: linear-gradient(180deg, rgba(255,218,0,1) 0%, rgba(255,218,0,1) 80%, rgba(255,255,255,0) 100%);
    }
}


.accent {
    position:relative;

    &:before {
        content: "";
        position: absolute;
        top:-10px;
        left: -20px;
        width: 200px;
        height: 3px;
        background: $primary;
        background: linear-gradient(90deg, rgba(255,218,0,1) 0%, rgba(255,218,0,1) 80%, rgba(255,255,255,0) 100%);
    }
    &:after {
        content: "";
        position: absolute;
        top:-20px;
        left: -10px;
        width: 3px;
        height: 200px;
        background: $primary;
        background: linear-gradient(180deg, rgba(255,218,0,1) 0%, rgba(255,218,0,1) 80%, rgba(255,255,255,0) 100%);
    }
}

.accent-bottom {
    position:relative;

    &:before {
        content: "";
        position: absolute;
        bottom:0;
        right: -10px;
        width: 100px;
        height: 3px;
        background: $primary;
        background: linear-gradient(270deg, rgba(255,218,0,1) 0%, rgba(255,218,0,1) 80%, rgba(255,255,255,0) 100%);
    }
    &:after {
        content: "";
        position: absolute;
        bottom:-10px;
        right: 0;
        width: 3px;
        height: 100px;
        background: $primary;
        background: linear-gradient(0deg, rgba(255,218,0,1) 0%, rgba(255,218,0,1) 80%, rgba(255,255,255,0) 100%);
    }
}


@media (min-width: $tablet) {

    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 26px;
    } 
    p {
        font-size: 18px;
    }

    .accent {
        position:relative;
    
        &:before {
            content: "";
            position: absolute;
            top:-10px;
            left: -20px;
            width: 200px;
            height: 3px;
        }
        &:after {
            content: "";
            position: absolute;
            top:-20px;
            left: -10px;
            width: 3px;
            height: 200px;
        }
    }
}


@media (min-width: $desktop) {
    h1 {
        font-size: 46px;
    }
    h2 {
        font-size: 32px;
    } 
    p {
        font-size: 22px;
    }
}